:root {
  --color-dodger-blue: #4f4fff;
  --color-royal-blue: #6849ee;
  --color-black-pearl: #04102D;
  --color-pure-white: #FFFFFF;
  --color-east-bay: #3F4C71;
  --color-bunting: #15244B;
  --color-royal-blue-2: #2c49f0;
  --color-dodger-blue-2: #3f5efb;
  --color-radical-red: #FC466B;
  --color-yellow: #F8FF00;
  --color-shamrock: #3AD59F;
  --color-downriver: #091641;
  --color-azure-radiance: #157AF5;
}

.mantine-Slider-track::before {
  background-color: var(--color-bunting);
}

.mantine-Slider-mark {
  display: none;
}

.mantine-Slider-markLabel {
  color: var(--color-pure-white);
  margin-top: 8px;
}

.mantine-Slider-thumb {
  border-color: var(--color-pure-white);
}